@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin= 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo img{
    width: 150px;
}

nav{
    flex: 1;
    text-align: right;
}


nav ul{
    display: inline-block;
    list-style: none;
}


nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #555;
}

.container{
    max-width: 1100px;
    margin: 20px auto;
    padding-left: 25px;
}

.row{
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    width: 100%;
    padding: 10px 0;
    text-align: left;
}
.col-2 h1{
    font: size 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background: #092db0; ;
    color: #fff;
    border-radius: 30px;
    margin-top: 25px;
    transition: background 0.3s;
}
.col-2 a{
    background: #106e77;

}
p{
  color: #555;
}

.header-section{
    margin-top: -20px;
    background: radial-gradient(#fff, #eaf2fb);
}

/* style de la section categrie */

.catogories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin: auto;
}

.col-3 img{
    width: 100%;
    text-align: right;
}

.container h2{
    text-align: center;
    font-size: 2.2rem;
    color: #444;
    margin: 50px 0;
}

/* منتجات */

.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
}

.col-4 img{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-5px);
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
        .nav ul li a{
            padding-left: 10px;
        }
        section{
            padding: 80px 20px;
        }
    }
}